
.footer {
  @include cf;
  color: $dk-grey;

  .wrapper {
    padding: $base*1.5 40px;
  }
  
  a {
    color: $dk-grey;

    &:hover {
      color: $blue;
    }
  }
}

.footer .follow-us {
  margin-bottom: 12px;
  text-align: center;
  
  @include bp-min-width($medium) {
    float: right;
    margin-bottom: 0;
  }
  
  .social-links {
    font-size: 32px;
  }
  
  li {
    @include bp-max-width($medium) {
      display: inline-block;
      margin: 0 10px;
    }

    @include bp-min-width($medium) {
      float: left;
      margin-left: 16px;
    }
  }
}

.footer .copyright {

  @include bp-min-width($medium) {
    float: left;
  }
  
  p {
    font-size: 15px;
    text-align: center;
  }
}
