
.header {
  border-top: 6px solid $lt-grey;
  
  .wrapper {
    padding: 12px 5%;

    @include bp-min-width($medium) {
      padding: 12px 24px;
      max-width: none;
    }    

    @include bp-min-width($xlarge) {
      padding: 12px 32px;
    }
  }
}

.logo {
  float: left;

  a {
    color: $navy;
  
    &:hover {
      color: $orange;
    }
  }
}

.logo-mark {
  display: block;
  float: left;
  width: 60px;
  margin-right: 20px;

  @include bp-min-width($medium) {
    width: 72px;
  }
}

.logo-text {
  float: left;
  padding-top: 17px;

  @include bp-min-width($medium) {
    padding-top: 12px;
  }
  
  .title {
    font-size: 24px;
    line-height: 1;
    font-weight: $bold;

    @include bp-max-width($medium) {
      display: none;
    }
  }
  
  .date {
    float: left;
    clear: left;
    color: $navy;
    font-size: 19px;

    @include bp-max-width($medium) {
      display: none;
    }
  }

  .mobile-title {
    font-size: 24px;
    line-height: 1;
    font-weight: $bold;

    @include bp-min-width($medium) {
      display: none;
    }
  }

}
