
.bottom {
  @include cf;
  background: lighten($yellow, 48%);

  [class*="block-"] {
    padding: $base*3 3%;
    text-align: center;
    border-top: 1px solid $lt-grey;
    
    &:first-of-type {
      border-right: 1px solid $lt-grey;
    }
  }
}

.bottom .title-block {
  margin-bottom: 20px;
  font-size: 36px;
}

.bottom .social-links {
  @include cf;

  li {
    display: inline-block;
    margin: 0 16px;
  }

  .ss-icon {
    font-size: 56px;
    line-height: 1.5em;
  }
}

.bottom .hashtags {
  color: $dk-grey;
  font-size: 20px;
  line-height: 1.5;
  font-weight: $semi;
  font-style: italic;
  
  li {
    display: inline-block;
    margin: 0 12px;
  }
}

.block-newsletter {

  p {
    max-width: 460px;
    margin: 0 auto 20px;
  }
  
  form {
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    text-align: left;
  }
  
  .form-item {
    position: relative;
    height: 48px;
    margin-right: 97px;
    padding: 10px 16px 0;
    background: #fff;
    border: 1px solid $dk-grey;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  label {
    color: $dk-grey;
    font-weight: $semi;
    font-size: 18px;
    font-style: italic;
  }
  
  input {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 10;
    border: none;
    background: transparent;
    
    &:focus {
      border: none;
    }
  }
  
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 48px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}


.lets-dance {
  background: $orange;
  color: #fff;
  text-align: center;
  
  @include bp-min-width($large) {
  }

  .wrapper {
    padding: $base 5%;

    @include bp-min-width($medium) {
      padding: $base 2%;
    }
  }

  p {
    font-size: 24px;
    line-height: 28px;

    @include bp-min-width($large) {
      display: inline;
    }
  }
  
  .message {
    @include bp-max-width($large) {
      margin-bottom: 12px;
    }
  }
  
  .btn {
    @include bp-min-width($medium) {
      margin-left: 32px;
    }
  }
}