
.nav-anchor-section {
  padding-top: $base*2;

  @include bp-min-width($medium) {
    padding-top: $base*3;
  }
}

.style-guide .header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  
  .wrapper {
    max-width: none;
  }
}

.item {
  margin-bottom: $base;
}

.block-component {
  margin-bottom: $base*3;
}


/** COLORS =========================================**/

.list-colors {
  margin-bottom: 0;
}

.list-colors [class*="col-"] {
  max-width: 50%;
  margin-bottom: $base;
  position: relative;
  background: #fff;
  
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 6%;
    bottom: 0;
    left: 6%;
    border: 1px solid $lt-grey;
    
    @include bp-min-width($medium) {
      right: 18px;
      left: 18px;
    }  
  }
}

.color-swatch {
  position: relative;

  &:after {
    content: "";
    display: block;
    padding-bottom: 75%;
  }
  
  &.red {
    background: $red;
  }
  
  &.blue {
    background: $blue;
  
  }
  &.green {
    background: $green;
  }
  
  &.orange {
    background: $orange;
  }
}

.color-info {
  padding: 0.5em 0;
  text-align: center;
  
  @include bp-min-width($medium) {
    padding: 1em 0;
  }
  
  .color-hex {
    font-size: 14px;
  }
}

/** BUTTONS =========================================**/

.buttons .label {
  margin-bottom: 4px;
}

.buttons .btn {
  margin-bottom: 1em;
  
  @include bp-min-width($medium) {
    margin: 0 1em 0 0;
  }
}
